<h1>Show Animal</h1>

<ul>

  <li>
    <strong><%= gettext "Name:" %></strong>
    <%= @animal.name %>
  </li>

  <li>
    <strong><%= gettext "Date of birth:"%> </strong>
    <%= @animal.date_of_birth %>
  </li>

  <li>
    <strong><%= gettext "Type:"%></strong>
    <%= @animal.type %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.animal_path(@conn, :edit, @animal) %></span>
<span><%= link "Back", to: Routes.animal_path(@conn, :index) %></span>
