<h1><%= gettext "My Profile"%></h1>
 
 <section>

 <p>
    <strong><%= gettext "Username:" %></strong>
    <%= @user.username %>
</p>
<p>
    <a href="/change_username"><%= gettext "Change Username" %></a>
    <a href="/change_password"><%= gettext "Change Password" %></a>
</p>
</section>